@model BlackJack.ViewModels.Game.GameDataViewModel

@{
    ViewBag.Title = "GameTable";

    BlackJack.ViewModels.EntityViewModel.UserViewModel currentUser = Model.CurrentUser;
    IEnumerable<BlackJack.ViewModels.EntityViewModel.UserViewModel> users = Model.Users;
    IEnumerable<BlackJack.ViewModels.EntityViewModel.CardViewModel> cards = Model.Cards;
}

<h2>GameTable</h2>

<div class="Entities">
    <div class="Game-Content">
        <div class="UserInteface">
            <div class="StartNewGame">
                <button class="StartNewGame-button" , onclick="StartNewGame()">
                    <h3>New Game</h3>
                </button>
            </div>
            <div class="UserStory">
                <table>
                    <tr>
                        <td id="GamesPlayed"><h3>Data 1</h3></td>
                    </tr>
                    <tr>
                        <td id="GamesWon"><h3>Data 2</h3></td>
                    </tr>
                </table>
            </div>
            <div class="User-buttons">
                <button class="NewMatch-button" , onclick="StartNewMatch()">
                    <h3>Start</h3>
                </button>
                <button class="More-button" , onclick="MoreFunction()">
                    <h3>More</h3>
                </button>
                <button class="Enougth-button" , onclick="EnougthFunction()">
                    <h3>Enougth</h3>
                </button>
            </div>
        </div>
        <div class="PlayerInfoes">
            <div class="Employee">
                <div class="Employee-info">
                    <p id="playerInfo">@currentUser.Name</p>
                </div>
                <div class="Employee-content">
                    <p id="playerContent">HERE PLAYER INFO!</p>
                </div>
            </div>
            <div class="Employee">
                <div class="Employee-info">
                    <p id="dillerInfo">P INFO</p>
                </div>
                <div class="Employee-content">
                    <p id="dillerContent">CONTENT</p>
                </div>
            </div>
            @for (int i = 1; i <= (int)Model.CurrentUser.SelectedBots; i++)
            {
                <div class="Employee">
                    <div class="Employee-info">
                        <p id="botInfo_@i">BOT #@i</p>
                    </div>
                    <div class="Employee-content">
                        <p id="botContent_@i">CONTENT</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>