@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <p><h3>Game rulles:</h3></p>
    <p>
        1. Aces may be counted as 1 or 11 points, 2 to 9 according to pip value, and tens and face cards count as ten points.
    </p>
    <p>
        2. The value of a hand is the sum of the point values of the individual cards. Except, a "blackjack" is the highest hand,
        consisting of an ace and any 10-point card, and it outranks all other 21-point hands.
    </p>
    <p>
        3.After the players have bet, the dealer will give two cards to each player and two cards to himself.
        One of the dealer cards is dealt face up. The facedown card is called the "hole card."
    </p>
    <p>
        4.If the dealer has an ace showing, he will offer a side bet called "insurance." This side wager pays 2 to 1 if the dealer's hole card is any 10-point card.
        Insurance wagers are optional and may not exceed half the original wager.
    </p>
    <p>
        5.If the dealer has a ten or an ace showing (after offering insurance with an ace showing), then he will peek at his facedown card to see if he has a blackjack.
        If he does, then he will turn it over immediately.
    </p>
    <p>
        6.the dealer does have a blackjack, then all wagers (except insurance) will lose, unless the player also has a blackjack,
        which will result in a push. The dealer will resolve insurance wagers at this time.
    </p>
</div>
<div class="row">
</div>
