@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Morozova 1<br />
    Kharkiv, Ukraine<br />
    <abbr title="Phone">P:</abbr>
    +380978895025
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Manersache@gmail.com">Manersache@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="https://vk.com/pokrovsky_ilya">Follow me VK</a>
</address>