@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Welcome";
}

<div class="UserInteface">
    <a href="@Url.Action("SubmitNewUser", "User")" class="btn btn-success">
        <h3>CREATE NEW USER</h3>
    </a>
    <a href="@Url.Action("AllUsers", "User")" class="btn btn-success">
        <h3>SELECT FROM LIST</h3>
    </a>
</div>