@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h4 style="color: #fff;">Welcome to the game!</h4>
</div>

<body>
    <div class="UserInteface">
        <a class="BeginGameButton" href="@Url.Action("Index", "User")">
            <h3>Game</h3>
        </a>
    </div>
</body>