@model BlackJack.ViewModels.Response.UserAllUsersViewModel

@{
    ViewBag.Title = "AllUsers";

    List<BlackJack.ViewModels.Response.UserAllUsersUserViewItem> users = new List<BlackJack.ViewModels.Response.UserAllUsersUserViewItem>();

    foreach (var user in Model.Users)
    {
        users.Add(user);
    }
}

<div class="UserInteface">
    <div class="User-buttons">
        <a class="btn btn-success" href="@Url.Action("Index", "Home")">
            <h3>Change/Create User</h3>
        </a>
    </div>
</div>

@for (int i = 6; i < users.Count(); i++)
{
    <div class="Employee">
        <div class="Employee-info">
            <h4>@users[i].Name</h4>
        </div>
        <div class="Employee-content">
            <table>
                <tr>
                    <td>
                        <a href="@Url.Action("ShowHistory", "History", new { UserId = users[i].ID })">
                            <h4>Show History</h4>
                        </a>
                    </td>
                </tr>
                @*<tr>
                    <td>
                        <a href="@Url.Action("DeleteUser", "User", new { UserId = users[i].ID })">
                            <h4>Delete User</h4>
                        </a>
                    </td>
                </tr>*@
            </table>
        </div>
    </div>
}
