@model BlackJack.ViewModels.AllUsersUserView

@{
    ViewBag.Title = "AllUsers";
}

<div class="UserInteface">
    <div class="User-buttons">
        <a class="btn btn-success" href="@Url.Action("Submit", "Home")">
            <h3>Change/Create User</h3>
        </a>
    </div>
</div>

@foreach(var user in Model.Users)
{
    <div class="Employee">
        <div class="Employee-info">
            <h4>@user.Name</h4>
        </div>
        <div class="Employee-content">
            <table>
                <tr>
                    <td>
                        <a href="@Url.Action("ShowHistory", "History", new { UserId = user.ID })">
                            <h4>Show History</h4>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
