
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h4>GAME CONTROLLER</h4>
</div>

<body>
    <div class="BeginGame">
        <a href="@Url.Action("SubmitNewUser", "User")">
            <h3>Submit New User</h3>
        </a>
    </div>
</body>

